// colors
$color-primary: #EB5757;
$color-secondary: #19597D;
$color-tertiary: #757575;
$color-quartary: #F2C94C;
$color-black: #000;
$color-white: #fff;

// loader delay
$loader-delay: 200ms;

// medias
$width-tablet: 768px;
$width-medium: 1024px;